.body_bg-color {
  background-color: #f2f2f2;
}

main {
  display: grid;
  align-items: center;
  padding: 40px;
  border-top: 5px solid #008cba;
  border-bottom: 5px solid #008cba;
  background-color: white;
  grid-template-columns: 1fr 300px;
  row-gap: 20px;
}

.main__img {
  width: 300px;
  height: auto;
}

aside {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 5px solid #008cba;
}

.main__h1 {
  margin: 0;
  font-size: 3rem;
  color: #008cba;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.order-info__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #666;
  font-size: 1.2rem;
}

.order-info__li_margin-bottom {
  margin-bottom: 10px;
}

.aside__input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.aside__label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
  font-weight: normal;
  user-select: none;
}

.aside__label:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #008cba;
  background-color: white;
}

.aside__input[type="radio"]:checked + label:before {
  background-color: #008cba;
}

.aside__button[type="submit"] {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s ease-in-out;
}

.aside__button[type="submit"]:hover {
  background-color: #00749b;
}

.aside__h2_vertical-mg {
  margin: 10px 0;
}

.order-info__sub-description {
  grid-column: 1/-1;
  font-size: 18px;
}

@media screen and (max-width: 791px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 461px) {
  main {
    padding: 28px;
  }

  .main__h1 {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 393px) {
  main {
    padding: 23px;
  }

  .main__h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 393px) {
  .main__h1 {
    margin-bottom: 9px;
  }

  .main__img {
    width: 200px;
  }

  .order-info__sub-description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .main__h1 {
    font-size: 1.5rem;
  }
}
